In [6]:
%pip install pymysql

Collecting pymysql
  Using cached PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Note: you may need to restart the kernel to use updated packages.

In [52]:
import pymysql

try:
    connection = pymysql.connect (
        host='localhost',
        port=3306,
        user='root',
        password='root'
    )
    print('Подключение удачно')

except Exception as ex:
    print('Невозможно подключиться')
    print(ex)

Подключение удачно

In [53]:
try:
    with connection.cursor() as cursor:
        create_database_query = 'CREATE DATABASE TEST_BASE'
        print(create_database_query)
        cursor.execute(create_database_query)
        connection.commit()
        print('База TEST_BASE создана')
except Exception as ex:
    print("База TEST_BASE уже создана")

CREATE DATABASE TEST_BASE
База TEST_BASE создана

In [64]:
try:
    with connection.cursor() as cursor:
        show_databases_query = 'SHOW DATABASES'
        print(show_databases_query)
        cursor.execute(show_databases_query)
        rows = cursor.fetchall()
        for row in rows:
            print(row)
except Exception as ex:
    print(ex)

SHOW DATABASES
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [55]:
try:
    with connection.cursor() as cursor:

        create_table_query = """
        CREATE TABLE TEST_BASE.EXAMPLE (
            id int not null AUTO_INCREMENT, 
            name CHAR(255), 
            surname CHAR(255),
            primary key (id)
        )
        """

        print(create_table_query)
        cursor.execute(create_table_query)
        connection.commit()
        print('Таблица TEST_BASE.EXAMPLE создана')
except Exception as ex:
    print("Таблица TEST_BASE.EXAMPLE уже находится в базе данных")

        CREATE TABLE TEST_BASE.EXAMPLE (
            id int not null AUTO_INCREMENT,
            name CHAR(255),
            surname CHAR(255),
            primary key (id)
        )

Таблица TEST_BASE.EXAMPLE создана

In [56]:
try:
    with connection.cursor() as cursor:

        insert_into_query = """
        INSERT INTO TEST_BASE.EXAMPLE (
            name, 
            surname
        ) VALUES
            ("Николай", "Виноградов"),
            ("Женя", "Златковская"),
            ("Мария", "Большакова"),
            ("Владимир", "Белов"),
            ("Шахруз", "Титов")
        """
        print(insert_into_query)
        cursor.execute(insert_into_query)
        connection.commit()
        print('Данные помещены в таблицу TEST_BASE.EXAMPLE')
except Exception as ex:
    print("Не получается внести данных")
    print(ex)

        INSERT INTO TEST_BASE.EXAMPLE (
            name,
            surname
        ) VALUES
            ("Николай", "Виноградов"),
            ("Женя", "Златковская"),
            ("Мария", "Большакова"),
            ("Владимир", "Белов"),
            ("Шахруз", "Титов")

Данные помещены в таблицу TEST_BASE.EXAMPLE

In [61]:
try:
    with connection.cursor() as cursor:
        select_all_table_query = 'SELECT * FROM TEST_BASE.EXAMPLE'
        print(select_all_table_query)
        cursor.execute(select_all_table_query)
        rows = cursor.fetchall()
        for row in rows:
            print(row)
except Exception as ex:
    print(ex)

SELECT * FROM TEST_BASE.EXAMPLE
(1, 'Николай', 'Виноградов')
(2, 'Женя', 'Златковская')
(3, 'Мария', 'Большакова')
(4, 'Вова', 'Белов')

In [58]:
try:
    with connection.cursor() as cursor:
        update_table_query = "UPDATE TEST_BASE.EXAMPLE SET name = 'Вова' WHERE name = 'Владимир' and surname = 'Белов'"
        print(update_table_query)
        cursor.execute(update_table_query)
        connection.commit()
        print("Данные в таблицы обновлены")
except Exception as ex:
    print("Не получается обновить данные")

UPDATE TEST_BASE.EXAMPLE SET name = 'Вова' WHERE name = 'Владимир' and surname = 'Белов'
Данные в таблицы обновлены

In [60]:
try:
    with connection.cursor() as cursor:
        delete_table_query = "DELETE FROM TEST_BASE.EXAMPLE WHERE name = 'Шахруз' and surname = 'Титов'"
        print(delete_table_query)
        cursor.execute(delete_table_query)
        connection.commit()
        print("Данные о Шахрузе Титове удалены из таблицы")
except Exception as ex:
    print("Не получается удалить данные")

DELETE FROM TEST_BASE.EXAMPLE WHERE name = 'Шахруз' and surname = 'Титов'
Данные о Шахрузе Титове удалены из таблицы

In [62]:
try:
    with connection.cursor() as cursor:
        drop_table_query = "DROP TABLE TEST_BASE.EXAMPLE"
        print(drop_table_query)
        cursor.execute(drop_table_query)
        connection.commit()
        print("Таблица TEST_BASE.EXAMPLE удалена")
except Exception as ex:
    print("Не получается удалить таблицу")

DROP TABLE TEST_BASE.EXAMPLE
Таблица TEST_BASE.EXAMPLE удалена

In [63]:
try:
    with connection.cursor() as cursor:
        drop_table_query = "DROP DATABASE TEST_BASE"
        print(drop_table_query)
        cursor.execute(drop_table_query)
        connection.commit()
        print("База TEST_BASE удалена")
except Exception as ex:
    print("Не получается удалить базу")

DROP DATABASE TEST_BASE
База TEST_BASE удалена